FULLOPTION/trino/coordibrator/logs/
FULLOPTION/trino/worker/logs/
FULLOPTION/trino/coordibrator/data/
FULLOPTION/trino/worker/data/
FULLOPTION/trino/worker2/logs/
FULLOPTION/trino/worker2/data/
FULLOPTION/trino/coordinator/data/var/log/
FULLOPTION/trino/coordinator/data/var/run/
*.zip
FULLOPTION/jars/
FULLOPTION/jar/
FULLOPTION/logs/
CDC/jars/
CDC/jar/
CDC/logs/
DBsource/jars/
DBsource/jar/
DBsource/logs/
CDC/kafka_data
