trino/coordibrator/logs/
trino/worker/logs/
trino/coordibrator/data/
trino/worker/data/
trino/worker2/logs/
trino/worker2/data/
trino/coordinator/data/var/log/
trino/coordinator/data/var/run/
*.zip
jars/
jar/
logs/
